#### Contents of the preconfiguration file (for squeeze)
### Localization
# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

# Keyboard selection.
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
# hostname and domain come from the virt-install command arguments
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

### Mirror settings
# If you select ftp, the mirror/country string does not need to be set.
d-i mirror/country string manual
d-i mirror/http/hostname string 192.168.1.160
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

### Account setup
# Root password, either in clear text
d-i passwd/root-password password r00tme
d-i passwd/root-password-again password r00tme

# To create a normal user account.
d-i passwd/user-fullname string Debian User
d-i passwd/username string balou
d-i passwd/user-password password balou
d-i passwd/user-password-again password balou

### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string lvm

# Partition alignment
d-i partman/alignment string optimal

# Clear LVM configuration
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true

# Clear MDRAID configuration
d-i partman-md/device_remove_md boolean true

# Confirm LVM configuration
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# Confirm MDRAID configuration
d-i partman-md/confirm boolean true
d-i partman-md/confirm_nooverwrite boolean true

# Confirm regular configuration
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# This makes partman automatically partition without confirmation.
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Recipe
d-i partman-auto/choose_recipe select atomic

### Apt setup
d-i apt-setup/non-free boolean false
d-i apt-setup/contrib boolean false
#d-i apt-setup/security_host string 192.168.1.160/debian-security

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server sudo sysstat screen build-essential
popularity-contest popularity-contest/participate boolean false

### Finishing up the installation
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

d-i preseed/late_command string \
	in-target update-alternatives --set editor /usr/bin/vim.tiny; \
	echo "balou	ALL=(ALL) ALL" >> /target/etc/sudoers;

# Handle grub install
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false